[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python ./src/main.py"
test = "python -m unittest"
lint = "flake8 ./"
lintMyPy = "mypy ./"
